player-connection-mode=Listen
player-connection-guid=816525506
player-connection-debug=0
player-connection-project-name=Thần Chủ
player-connection-ip=26.135.32.231
player-connection-ip=192.168.1.7
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=03adbc434f324972a983968adca43123
